
input {
  position: absolute;
  left: -9999px;
}

body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  counter-reset: score 0 comp 1;
  width: 100%;
  height: 100%;
}

.stage {
  -webkit-perspective: 3000;
  perspective: 3000;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 53%;
  margin-top: -150px;
  margin-left: -292px;
  position: fixed;
  -webkit-transition: -webkit-perspective 1s;
  transition: perspective 1s;
}

#important {
  display: none;
}

/*----------------------
タイトルの設定
----------------------*/

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.text {
  text-align: center;
  font-size: 34px;
  pointer-events: none;
}

.text:before {
  content: "Pure CSS Game";
}

.text:after {
  content: "- Bycss -";
  position: relative;
  right: -20px;
}

.start {
  position: absolute;
  display: block;
  font-size: 54px;
  text-align: center;
  bottom: 50px;
  -webkit-animation: st 1.6s linear 0s infinite alternate;
  animation: st 1.6s linear 0s infinite alternate;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: calc(100% - 320px);
}

@-webkit-keyframes st {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes st {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.start:before {
  content: "CLICK to START";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0%;
}

#start:checked ~ .background {
  pointer-events: none;
  opacity: 0;
}

.logo {
  position: relative;
  display: block;
  width: 600px;
  height: 240px;
  margin: 40px auto 20px auto;
  pointer-events: none;
}

.b1 {
  position: absolute;
  background-color: #333;
  width: 60px;
  height: 20px;
  top: 0px;
  left: 0px;
}

.b2 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 60px;
  top: 40px;
  left: 80px;
}

.b3 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 60px;
  top: 120px;
  left: 100px;
}

.b4 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 120px;
  top: 20px;
  left: 0px;
}

.b5 {
  position: absolute;
  background-color: #333;
  width: 40px;
  height: 20px;
  top: 80px;
  left: 40px;
}

.b6 {
  position: absolute;
  background-color: #333;
  width: 60px;
  height: 20px;
  top: 160px;
  left: 40px;
}

.y1 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 60px;
  top: 80px;
  left: 140px;
}

.y2 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 160px;
  top: 80px;
  left: 220px;
}

.y3 {
  position: absolute;
  background-color: #333;
  width: 40px;
  height: 20px;
  top: 160px;
  left: 180px;
}

.y4 {
  position: absolute;
  background-color: #333;
  width: 60px;
  height: 20px;
  top: 220px;
  left: 160px;
}

.c1 {
  position: absolute;
  background-color: #333;
  width: 80px;
  height: 20px;
  top: 60px;
  left: 260px;
}

.c2 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 60px;
  top: 80px;
  left: 260px;
}

.c3 {
  position: absolute;
  background-color: #333;
  width: 40px;
  height: 20px;
  top: 160px;
  left: 300px;
}

.sa1, .sb1 {
  position: absolute;
  background-color: #333;
  width: 80px;
  height: 20px;
  top: 60px;
}

.sa1 {
  left: 380px;
}

.sb1 {
  left: 500px;
}

.sa2, .sb2 {
  position: absolute;
  background-color: #333;
  width: 80px;
  height: 20px;
  top: 160px;
}

.sa2 {
  left: 400px;
}

.sb2 {
  left: 520px;
}

.sa3, .sb3 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 40px;
  top: 80px;
}

.sa3 {
  left: 380px;
}

.sb3 {
  left: 500px;
}

.sa4, .sb4 {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 40px;
  top: 120px;
}

.sa4 {
  left: 460px;
}

.sb4 {
  left: 580px;
}

.sa5, .sb5 {
  position: absolute;
  background-color: #333;
  width: 40px;
  height: 40px;
  top: 100px;
}

.sa5 {
  left: 410px;
}

.sb5 {
  left: 530px;
}

.sa5:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  border: solid 10px white;
}

.b1:after,
.c1:after,
.c3:before,
.sa1:after,
.sb1:after {
  content: "";
  position: absolute;
  left: 100%;
  border-top: solid 10px transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px #333;
  border-bottom: solid 10px #333;
}

.b2:after,
.b3:after,
.y1:before,
.y2:after,
.sa4:after,
.sb4:after {
  content: "";
  position: absolute;
  top: -20px;
  border-top: solid 10px transparent;
  border-right: solid 10px transparent;
  border-left: solid 10px #333;
  border-bottom: solid 10px #333;
}


.b4:after,
.y1:after,
.c2:after,
.sa3:after,
.sb3:after {
  content: "";
  position: absolute;
  top: 100%;
  border-top: solid 10px #333;
  border-right: solid 10px #333;
  border-left: solid 10px transparent;
  border-bottom: solid 10px transparent;
}

.b5:after,
.b6:after,
.y3:after,
.y4:after,
.c3:after,
.sa2:after,
.sb2:after {
  content: "";
  position: absolute;
  left: -20px;
  border-top: solid 10px #333;
  border-right: solid 10px #333;
  border-left: solid 10px transparent;
  border-bottom: solid 10px transparent;
}

/*----------------------
ゲームスタート演出
----------------------*/

input[id="start"]:checked ~ .stage .mode {
  pointer-events: auto;
  opacity: 1;
}

.mode {
  opacity: 0;
  pointer-events: none;
  font-size: 50px;
  text-align: center;
  position: absolute;
  height: 250px;
  width: 600px;
  -webkit-transform: translateZ(53px);
  transform: translateZ(53px);
  top: 0;
  left: -50px;
  z-index: 1;
  background-color: #FFF;
  background-image:
    -webkit-linear-gradient(#269 2px, transparent 0px), -webkit-linear-gradient(0deg, #269 3px, transparent 0px);
  background-image:
    linear-gradient(#269 2px, transparent 0px),
    linear-gradient(90deg, #269 3px, transparent 0px);
  background-size: 600px 250px, 600px 250px;
  background-position: 0px -1px, -1px 0px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.mode:before {
  content: "MODE SELECT";
}

.mode_co {
  font-size: 40px;
  display: block;
  color: #999;
  margin-top: 20px;
  cursor: pointer;
}

.mode_co:hover {
  color: #B23;
}

.mode_co:hover:before {
  content: "- ";
  color: #269;
}

.mode_co:hover:after {
  content: " -";
  color: #269;
}

.mode_re {
  font-size: 40px;
  display: block;
  color: #999;
  margin-top: 14px;
  cursor: pointer;
}

.mode_re:hover {
  color: #333;
}

.mode_re:hover:before {
  content: "- ";
  color: #333;
}

.mode_re:hover:after {
  content: " -";
  color: #333;
}

#mode_color:checked ~ .stage .mode .mode_co {
  -webkit-animation: tenmetsu 0.12s linear 0s 6 alternate;
  animation: tenmetsu 0.12s linear 0s 6 alternate;
  color: #B23;
}

#mode_retro:checked ~ .stage .mode .mode_re {
  -webkit-animation: tenmetsu 0.12s linear 0s 6 alternate;
  animation: tenmetsu 0.12s linear 0s 6 alternate;
  color: #333;
}

#mode_color:checked ~ .stage .mode .mode_co:before {
  content: "- ";
  color: #269;
}

#mode_color:checked ~ .stage .mode .mode_co:after {
  content: " -";
  color: #269;
}

#mode_retro:checked ~ .stage .mode .mode_re:before {
  content: "- ";
  color: #333;
}

#mode_retro:checked ~ .stage .mode .mode_re:after {
  content: " -";
  color: #333;
}

@-webkit-keyframes tenmetsu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tenmetsu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#mode_color:checked ~ .stage .mode,
#mode_retro:checked ~ .stage .mode {
  pointer-events: none;
  -webkit-animation: tenmetsu 0.3s linear 1s 1 alternate;
  animation: tenmetsu 0.3s linear 1s 1 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#mode_color:checked ~ .stage .futa2,
#mode_retro:checked ~ .stage .futa2 {
  pointer-events: none;
  -webkit-animation: tenmetsu 0.6s linear 1.5s 1 alternate;
  animation: tenmetsu 0.6s linear 1.5s 1 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#mode_color:checked ~ .stage .futa1,
#mode_retro:checked ~ .stage .futa1 {
  pointer-events: none;
  -webkit-animation: tenmetsu 1s linear 3s 1 alternate;
  animation: tenmetsu 1s linear 3s 1 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#mode_color:checked ~ .stage,
#mode_retro:checked ~ .stage {
  -webkit-animation: pers 1.8s ease 3s 1 alternate;
  animation: pers 1.8s ease 3s 1 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes pers {
  0% {
    -webkit-perspective: 3000;
    perspective: 3000;
  }
  60% {
    -webkit-perspective: 180;
    perspective: 180;
  }
  100% {
    -webkit-perspective: 200;
    perspective: 200;
  }
}

@keyframes pers {
  0% {
    -webkit-perspective: 3000;
    perspective: 3000;
  }
  60% {
    -webkit-perspective: 180;
    perspective: 180;
  }
  100% {
    -webkit-perspective: 200;
    perspective: 200;
  }
}

input[id="mode_color"]:checked ~ .stage .UI div[class*="UI-move"],
input[id="mode_retro"]:checked ~ .stage .UI div[class*="UI-move"] {
  -webkit-animation: ui 1s ease 3s 1 alternate;
  animation: ui 1s ease 3s 1 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes ui {
  0% {
    -webkit-transform: translateZ(-10px);
    transform: translateZ(-10px);
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
}

@keyframes ui {
  0% {
    -webkit-transform: translateZ(-10px);
    transform: translateZ(-10px);
  }
  100% {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
}

.futa1 {
  position: absolute;
  height: 300px;
  width: 300px;
  -webkit-transform: translateZ(53px);
  transform: translateZ(53px);
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFF;
  background-image:
    -webkit-linear-gradient(#269 2px, transparent 0px), -webkit-linear-gradient(0deg, #269 2px, transparent 0px);
  background-image:
    linear-gradient(#269 2px, transparent 0px),
    linear-gradient(90deg, #269 2px, transparent 0px);
  background-size: 100px 100px, 100px 100px;
  background-position: 0px -1px, -1px 0px;
}

.futa2 {
  position: absolute;
  height: 300px;
  width: 600px;
  -webkit-transform: translateZ(53px);
  transform: translateZ(53px);
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFF;
  background-image:
    -webkit-linear-gradient(#269 2px, transparent 0px), -webkit-linear-gradient(0deg, #269 2px, transparent 0px);
  background-image:
    linear-gradient(#269 2px, transparent 0px),
    linear-gradient(90deg, #269 2px, transparent 0px);
  background-size: 50px 50px, 50px 50px;
  background-position: 0px -1px, -1px 0px;
}

/*----------------------
セレクタの設定
----------------------*/

label[class*="select"] {
  height: 96px;
  width: 96px;
  opacity: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
  border: solid 2px transparent;
  -webkit-transition: border 0.1s, background-color 0.1s, opacity 0.3s;
  transition: border 0.1s, background-color 0.1s, opacity 0.3s;
}

label[class*="select"]:before {
  content: "";
  position: absolute;
  width: 96px;
  height: 98px;
  left: -2px;
  border-left: solid 2px transparent;
  border-top: solid 2px transparent;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  pointer-events: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

label[class*="select"][class*="B-lg"]:before,
label[class*="select"][class*="B-wd"]:before,
label[class*="select"][class*="B-el"]:before {
  top: -102px;
}

label[class*="select"][class*="B-rv"]:before {
  top: 96px;
}

label[class*="select"]:after {
  content: "";
  position: absolute;
  width: 98px;
  height: 96px;
  top: -2px;
  border-left: solid 2px transparent;
  border-top: solid 2px transparent;
  border-right: solid 2px transparent;
  border-bottom: solid 2px transparent;
  pointer-events: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

label[class*="select"][class*="B-lg"]:after,
label[class*="select"][class*="B-wd"]:after,
label[class*="select"][class*="B-el"]:after {
  right: -102px;
}

label[class*="select"][class*="B-rv"]:after {
  right: 96px;
}

/* セレクタ 表示 */
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/* ↓10 */
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*12*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*13*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*14*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*15*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*16*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*17*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*18*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*19*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*20*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*21*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*22*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*23*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*24*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*25*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*26*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],/*27*/
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
input[id*="next"][id*="B-sq"]:checked ~
label[class*="select"][class*="B-sq"],
/* B-lg */
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
label[class*="select"][class*="B-lg"],
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="B-lg"]:checked ~
input[id*="next"][id*="

