
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h3 {
  color: white;
}

h2 {
  font-family: 'Honk', system-ui;
}

root {
   color: white;
}
<style>
   #objet{
      width:100px;
      height:100px;
      background-color:#E80;
      animation-name:monanimation;
      animation-iteration-count:infinite;
      animation-duration:2s;
      animation-timing-function:ease;
      animation-direction:normal;
   }
   @keyframes monanimation{
      0%{
         width:100px;
         height:100px;
         transform:translate(0,0) rotate(0);
         background-color:#E80;
      }
      25%{
         width:100px;
         height:100px;
         transform:translate(100%,0) rotate(-90deg);
         background-color:#0A0;
      }
      50%{
         width:100px;
         height:100px;
         transform:translate(100%,100%) rotate(-180deg);
         background-color:#F0F;
      }
      75%{
         width:100px;
         height:100px;
         transform:translate(0,100%) rotate(-270deg);
         background-color:#00A;
      }
      100%{
         width:100px;
         height:100px;
         transform:translate(0,0) rotate(-360deg);
         background-color:#E80;
      }
   }
</style> 



